body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.site-title a {
  width: 180px;
  line-height: 1px;
  display: block;
}

.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}

.toggle_btn span:nth-child(1) {
  top: 10px;
}

.toggle_btn span:nth-child(2) {
  bottom: 10px;
}

.toggle_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}

#mask {
  display: none;
  transition: all 0.5s;
}

#top {
  padding-top: 80px;
  padding-bottom: 160px;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list li {
  width: 23%;
  margin-bottom: 40px;
}

.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
}

.product-list p {
  font-size: 0.75rem;
}

.link-text {
  display: block;
  text-align: center;
}